body{
    background-color: #CEC9C4;
    margin-top: 7em; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cuadro1 {
    background-color: #F5ECDC;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    border: 1px solid #ccc;
    border-bottom: 3px solid ;
    border-radius: 25px;
    
    
  }
.titulo{
    text-align: center;
    color: #77898F;
    font-size: 18px;
}

.crear input{
    color:#635D56;
    background-color: #E8BE96;
    margin: 2px;
    border-radius: 15px;
    font-size: 16px;
    border: 1px solid #635D56;
    
}
.crear .cuatro input{
    width: 350px;
    
}
.botones input{
    width: 150px;
    height: 30px;
    font-size: 18px;
    color: #77898F;
    background: #E8BE96;
    border-radius: 15px;
}
@media (max-width: 500px) {
    .cuadro1 {
        width: 100%;
        padding: 20px;
    }

    .crear .cuatro input {
        width: 100%;
    }

    .botones button {
        width: 100%;
    }
}
