body{
    background-color: #CEC9C4;
    margin-top: 7em; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cuadro1 {
    background-color: #F5ECDC;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    border: 1px solid #ccc;
    border-bottom: 3px solid ;
    border-radius: 25px;
}
.cuadro1 .titulo{
    text-align: center;
    color: #77898F;
}
.consulta input{
    background-color: #E8BE96;
    width: 150px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #635D56;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #E8BE96;
    font-size: 15px;
    border-radius: 15px;
    color:#77898F;
    width: 180px;
    margin: 5px;
    height: 40px;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.info input{
    background-color: #E8BE96;
    width: 200px;
    margin: 10px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #635D56;
    
}
